<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Product List</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/uploads/favicon-32x32.png" type="image/x-icon">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>

<body style="font-family: 'Poppins', system-ui;">
    <% function formateDate(dateStr) { const date=new Date(dateStr); const options={weekday: 'long' , year: 'numeric' ,
        month: 'long' , day: 'numeric' }; return date.toLocaleDateString(undefined, options); } %>

        <div class="flex h-screen">
            <%- include('../partials/adminSideMenu')%>

                <header class="fixed border-b w-full bg-white top-0 left-[250px] z-50 p-5">
                    <ul class="flex items-center justify-start font-[sans-serif] space-x-4 mt-4">
                        <li class="text-gray-500 text-base cursor-pointer">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="fill-gray-400 w-3.5 -rotate-90"
                                viewBox="0 0 24 24">
                                <path fill-rule="evenodd"
                                    d="M11.99997 18.1669a2.38 2.38 0 0 1-1.68266-.69733l-9.52-9.52a2.38 2.38 0 1 1 3.36532-3.36532l7.83734 7.83734 7.83734-7.83734a2.38 2.38 0 1 1 3.36532 3.36532l-9.52 9.52a2.38 2.38 0 0 1-1.68266.69734z"
                                    clip-rule="evenodd" data-original="#000000"></path>
                            </svg>
                        </li>
                        <li class="text-black text-xl font-bold cursor-pointer">
                            <a href="#">Product List</a>
                        </li>
                    </ul>
                </header>

                <main class="">
                    <div class="absolute top-[100px] left-[300px]">
                        <div class="mb-4 flex w-full justify-end items-center">
                            <!-- <div class="flex flex-col justify-start px-4 py-4">
                                <div
                                    class="flex w-96 h-auto relative max-w-md overflow-hidden rounded-full border-2 border-sky-500">
                                    <input id="searchInput" type="search" placeholder="Search.."
                                        class="w-full bg-white px-5 py-3 text-sm outline-none" />
                                </div>
                                <div id="resultsContainer"
                                    class="absolute top-[64px] left-[58px] w-96 rounded-lg z-20 bg-white flex flex-col text-left">
                                </div>
                            </div> -->


                            <div class="px-4 py-4">
                                <a href="/admin/productList/create"
                                    class="rounded-lg bg-orange-500 text-center text-white hover:bg-orange-600 px-3 py-2">Create
                                    Product</a>
                            </div>
                        </div>

                        <div class="mx-auto w-fit p-4 sm:max-w-full lg:max-w-7xl">
                            <div id="productContainer"
                                class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                                <%if(products.length>0) {%>
                                    <%products.forEach((product)=> {%>
                                        <div class="relative overflow-hidden rounded-lg bg-gray-50 shadow-md">
                                            <div>
                                                <input type="hidden" value="<%=product%>">
                                            </div>
                                            <div
                                                class="aspect-w-16 aspect-h-8 mx-auto h-[260px] w-5/6 overflow-hidden p-4">
                                                <img src="<%=product.images[0]%>" alt="Product image"
                                                    class="h-full w-full object-contain" />
                                            </div>
                                            <div class="bg-white p-4 min-h-[150px] flex flex-col justify-between">
                                                <h3 class="text-sm mb-4 text-wrap font-bold text-slate-800">
                                                    <%=product.productName%>
                                                </h3>

                                                <h4 class="mb-2 font-medium">Price:
                                                    <span class="text-md font-medium text-gray-800">
                                                        ₹<%=product.productPrice%>/-
                                                    </span>
                                                </h4>

                                                <%product.variants.forEach(variant=> { %>
                                                    <div class="flex gap-4 mb-2">
                                                        <h4 class="font-medium">Size:
                                                            <span class="text-md font-medium text-gray-800">
                                                                <%= variant.size %>
                                                            </span>
                                                        </h4>
                                                        <h4 class="font-medium">Stock:
                                                            <span class="text-md font-medium text-gray-800">
                                                                <%= variant.stock %>
                                                            </span>
                                                        </h4>
                                                    </div>
                                                    <% }) %>

                                                        <p class="font-medium">Created At:
                                                            <span class="text-md font-medium text-gray-800">
                                                                <%=product.createdAt.toLocaleDateString()%>
                                                            </span>
                                                        </p>

                                                        <div class="flex items-center justify-between">
                                                            <div class="parentElement flex items-center space-x-4">
                                                                <label class="relative cursor-pointer">
                                                                    <input type="checkbox" class="peer sr-only"
                                                                        onchange="toggleStatus(this)"
                                                                        data-product-id="<%=product._id%>"
                                                                        <%=product.isActive===true ? 'checked' : '' %>
                                                                    />
                                                                    <div
                                                                        class="peer flex h-6 w-11 items-center rounded-full bg-gray-300 after:absolute after:left-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all peer-checked:bg-[#007bff] peer-checked:after:translate-x-full peer-checked:after:border-white">
                                                                    </div>
                                                                </label>
                                                                <span class="targetElement flex items-center justify-center rounded-full border-none bg-sky-600 
                                                                            py-1 px-2 text-sm font-medium text-white"
                                                                    id="productIsActive_<%=product._id%>">
                                                                    <%= product.isActive ? "Active" : "Inactive" %>
                                                                </span>
                                                            </div>
                                                            <div class="flex gap-2">
                                                                <button class="mr-2" type="button"
                                                                    onclick="showEditModal(this)"
                                                                    data-product='<%=JSON.stringify(product)%>'>
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        class="w-5 fill-blue-500 hover:fill-blue-700"
                                                                        viewBox="0 0 348.882 348.882">
                                                                        <path
                                                                            d="m333.988 11.758-.42-.383A43.363 43.363 0 0 0 304.258 0a43.579 43.579 0 0 0-32.104 14.153L116.803 184.231a14.993 14.993 0 0 0-3.154 5.37l-18.267 54.762c-2.112 6.331-1.052 13.333 2.835 18.729 3.918 5.438 10.23 8.685 16.886 8.685h.001c2.879 0 5.693-.592 8.362-1.76l52.89-23.138a14.985 14.985 0 0 0 5.063-3.626L336.771 73.176c16.166-17.697 14.919-45.247-2.783-61.418zM130.381 234.247l10.719-32.134.904-.99 20.316 18.556-.904.99-31.035 13.578zm184.24-181.304L182.553 197.53l-20.316-18.556L294.305 34.386c2.583-2.828 6.118-4.386 9.954-4.386 3.365 0 6.588 1.252 9.082 3.53l.419.383c5.484 5.009 5.87 13.546.861 19.03z"
                                                                            data-original="#000000" />
                                                                        <path
                                                                            d="M303.85 138.388c-8.284 0-15 6.716-15 15v127.347c0 21.034-17.113 38.147-38.147 38.147H68.904c-21.035 0-38.147-17.113-38.147-38.147V100.413c0-21.034 17.113-38.147 38.147-38.147h131.587c8.284 0 15-6.716 15-15s-6.716-15-15-15H68.904C31.327 32.266.757 62.837.757 100.413v180.321c0 37.576 30.571 68.147 68.147 68.147h181.798c37.576 0 68.147-30.571 68.147-68.147V153.388c.001-8.284-6.715-15-14.999-15z"
                                                                            data-original="#000000" />
                                                                    </svg>
                                                                </button>
                                                                <button class="" type="button"
                                                                    onclick="removeProduct(this)"
                                                                    data-product-id="<%=JSON.stringify(product._id)%>">
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        class="w-5 fill-red-500 hover:fill-red-700"
                                                                        viewBox="0 0 24 24">
                                                                        <path
                                                                            d="M19 7a1 1 0 0 0-1 1v11.191A1.92 1.92 0 0 1 15.99 21H8.01A1.92 1.92 0 0 1 6 19.191V8a1 1 0 0 0-2 0v11.191A3.918 3.918 0 0 0 8.01 23h7.98A3.918 3.918 0 0 0 20 19.191V8a1 1 0 0 0-1-1Zm1-3h-4V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2H4a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM10 4V3h4v1Z"
                                                                            data-original="#000000" />
                                                                        <path
                                                                            d="M11 17v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Zm4 0v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z"
                                                                            data-original="#000000" />
                                                                    </svg>
                                                                </button>
                                                            </div>
                                                        </div>
                                            </div>
                                        </div>


                                        <%});%>
                                            <% } else { %>
                                                <div class="w-full h-full flex items-center justify-center">
                                                    <p class="text-2xl text-center text-slate-400">No products were
                                                        added.</p>
                                                </div>
                                                <% } %>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="flex justify-end mr-4 py-4">
                            <ol class="flex justify-center space-x-1 text-xs font-medium ">
                                <% if (currentPage> 1) { %>
                                    <li>
                                        <a href="/admin/productList?page=<%= currentPage - 1 %>&limit=<%= limit %>"
                                            class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20"
                                                fill="currentColor">
                                                <path fill-rule="evenodd"
                                                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                        </a>
                                    </li>
                                    <% } %>
                                        <% for (let i=1; i <=totalPages; i++) { %>
                                            <li class="<%= currentPage === i ? 'active' : '' %>">
                                                <a href="/admin/productList?page=<%= i %>&limit=<%= limit %>"
                                                    class="block h-8 w-8 rounded border border-gray-100 text-center leading-8">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% } %>

                                                <% if (currentPage < totalPages) { %>
                                                    <li>
                                                        <a href="/admin/productList?page=<%= currentPage + 1 %>&limit=<%= limit %>"
                                                            class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3"
                                                                viewBox="0 0 20 20" fill="currentColor">
                                                                <path fill-rule="evenodd"
                                                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                                    clip-rule="evenodd" />
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <% } %>

                            </ol>
                        </div>

                        <!-- Product Edit Modal -->
                        <div class="hidden absolute inset-0 p-8 bg-white" id="editModal">
                            <h1 class="font-medium text-2xl">Edit Product</h1>
                            <div class="flex p-6">
                                <form id="productDetailForm" class="border-r-2 pr-4">
                                    <div class="grid grid-cols-6 gap-6">
                                        <input type="hidden" id="productId">
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="product-name"
                                                class="mb-2 block text-sm font-medium text-gray-900">Product
                                                Name</label>
                                            <input type="text" id="productName" name="productName"
                                                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-cyan-600 focus:ring-cyan-600 sm:text-sm" />
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="category"
                                                class="mb-2 block text-sm font-medium text-gray-900">Category</label>
                                            <select id="category"
                                                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-cyan-600 focus:ring-cyan-600 sm:text-sm">
                                                <option value="select">Select</option>
                                                <%if(categories && categories.length>0) {%>
                                                    <%categories.forEach(category=> {%>
                                                        <option value="<%=category.title%>"
                                                            data-category-id="<%=category._id%>">
                                                            <%= category.title%>
                                                        </option>
                                                        <%});%>
                                                            <%}%>
                                            </select>
                                            <input type="hidden" id="selectedCategory" name="categoryId">
                                        </div>
                                        <div class=" col-span-6 sm:col-span-3">
                                            <label for="brands"
                                                class="mb-2 block text-sm font-medium text-gray-900">Brand</label>
                                            <select name="brands" id="brands"
                                                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-cyan-600 focus:ring-cyan-600 sm:text-sm">
                                                <option value="">Select</option>
                                            </select>
                                            <input type="hidden" id="selectedBrand" name="selectedBrand">
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="price"
                                                class="mb-2 block text-sm font-medium text-gray-900">Price</label>
                                            <input type="number" name="price" id="price"
                                                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-cyan-600 focus:ring-cyan-600 sm:text-sm"
                                                placeholder="In Rupees" />
                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="fabric"
                                                class="mb-2 block text-sm font-medium text-gray-900">Fabric</label>
                                            <input type="text" name="fabric" id="fabric"
                                                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-cyan-600 focus:ring-cyan-600 sm:text-sm" />
                                        </div>

                                        <div class="col-span-6 sm:col-span-3 ">
                                            <label for="discount"
                                                class="mb-2 block text-sm font-medium text-gray-900">Discount</label>
                                            <input type="number" name="discount" id="discount"
                                                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-cyan-600 focus:ring-cyan-600 sm:text-sm"
                                                placeholder="In Percentage" />
                                        </div>

                                        <!-- File Upload Section -->
                                        <div class="col-span-6 flex flex-col sm:col-span-3">
                                            <div id="image">
                                                <label for="file"
                                                    class="mb-2 block text-sm font-medium text-gray-900">Upload
                                                    Files</label>
                                                <input type="file" id="imageUpload" accept="image/*" name="file"
                                                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-cyan-600 focus:ring-cyan-600 sm:text-sm" />
                                            </div>

                                            <div class="grid grid-cols-2 gap-3 mt-4" id="imagePreview">
                                                <!-- preview images are stored here -->
                                            </div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="gender"
                                                class="mb-2 block text-sm font-medium text-gray-900">Gender</label>
                                            <select id="gender"
                                                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-cyan-600 focus:ring-cyan-600 sm:text-sm">
                                                <option value="">select</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="unisex">Unisex</option>
                                            </select>
                                            <input type="hidden" id="selectedGender" name="gender" />
                                        </div>

                                        <!-- Crop Modal Structure -->
                                        <div id="cropModal" class="relative w-[340px] h-[340px]" style="display:none;">
                                            <img id="cropImage" alt="Image to Crop" class="absolute top-0 left-0">
                                            <button type="button" id="cropButton"
                                                class=" absolute bottom-0 left-0 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"">Crop</button>
                                            <button type=" button" id="cancelButton"
                                                class="absolute bottom-0 right-0 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Cancel</button>
                                        </div>

                                        <div class="col-span-full">
                                            <label for="product-details"
                                                class="mb-2 block text-sm font-medium text-gray-900">Product
                                                Details</label>
                                            <textarea id="productDetails" rows="6"
                                                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-4 text-gray-900 focus:border-cyan-600 focus:ring-cyan-600 sm:text-sm"
                                                name="description"></textarea>
                                        </div>

                                        <div class="col-span-full flex flex-col">
                                            <div>
                                                <input id="featured" type="checkbox" class="w-4 h-4">
                                                <span class="ml-2">Featured</span>
                                            </div>
                                            <div>
                                                <input id="limitedEdition" type="checkbox" class="w-4 h-4">
                                                <span class="ml-2">Limited Edition</span>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                                <div class=" mx-auto">
                                    <div class="flex flex-col gap-8" id="optionContainer">
                                        <h1 class="font-medium">Select Option (Size Stock Color)</h1>
                                        <div class="grid gap-x-4 sm:col-span-3">
                                            <div>
                                                <label for="size-0"
                                                    class="mb-2 block text-sm font-medium text-gray-900 ">Size</label>
                                                <select id="size-0" name="sizes"
                                                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-cyan-600 focus:ring-cyan-600 sm:text-sm sizes">
                                                    <option value="">select</option>
                                                    <option value="S">S</option>
                                                    <option value="M">M</option>
                                                    <option value="L">L</option>
                                                    <option value="XL">XL</option>
                                                    <option value="XXL">XXL</option>
                                                    <option value="XXL">XXXL</option>
                                                </select>
                                                <input type="hidden" id="selectedSize" name="size" />
                                            </div>
                                            <div>
                                                <label for="stock-0"
                                                    class="mb-2 block text-sm font-medium text-gray-900">Stock</label>
                                                <input type="number" name="stock" id="stock-0"
                                                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-cyan-600 focus:ring-cyan-600 sm:text-sm  stocks" />
                                            </div>
                                            <div class="col-span-6 sm:col-span-3 mt-4">
                                                <label for="color-0-1"
                                                    class="mb-2 block text-sm font-medium text-gray-900">Colors</label>
                                                <input type="color" name="color-0-1" id="color-0-1"
                                                    class="border border-slate-300" />
                                                <input type="color" name="color-0-2" id="color-0-2"
                                                    class="border border-slate-300" />
                                                <input type="color" name="color-0-3" id="color-0-3"
                                                    class="border border-slate-300" />

                                            </div>
                                        </div>

                                    </div>
                                    <div>
                                        <label id="addOptions" for="addOptions"
                                            class="text-blue-600 cursor-pointer text-[15px] hover:text-[16px]">+
                                            Add more Options</label>
                                    </div>
                                </div>
                            </div>


                            <div class="mt-4 rounded-b p-6">
                                <button
                                    class="rounded-lg bg-orange-500 px-5 py-2.5 mr-4 text-center text-sm font-medium text-white hover:bg-orange-600 focus:ring-4 focus:ring-cyan-200"
                                    type="button" onclick="closeEditModal()">Cancel</button>
                                <button
                                    class="rounded-lg bg-orange-500 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-orange-600 focus:ring-4 focus:ring-cyan-200"
                                    type="button" id="productDetailFormSubmission">Update</button>
                            </div>
                        </div>
                    </div>
                </main>
        </div>

        <script src="/javascript/admin/productVariantOptions.js"></script>
        <script src=" /javascript/admin/productList.js"></script>
</body>

</html>