<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coupons</title>
    <link rel="shortcut icon" href="/uploads//favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="relative">

        <!-- Header -->
        <%- include('../partials/userHeader') %>

            <div class="absolute top-[60px] w-full h-screen">

                <!--- Breadcrumbs --->
                <div class="hidden lg:flex items-center px-8 mt-4">
                    <ul class="flex items-center justify-start font-[sans-serif] space-x-4">
                        <li class="text-gray-500 text-sm cursor-pointer">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="fill-gray-400 w-3.5 -rotate-90"
                                viewBox="0 0 24 24">
                                <path fill-rule="evenodd"
                                    d="M11.99997 18.1669a2.38 2.38 0 0 1-1.68266-.69733l-9.52-9.52a2.38 2.38 0 1 1 3.36532-3.36532l7.83734 7.83734 7.83734-7.83734a2.38 2.38 0 1 1 3.36532 3.36532l-9.52 9.52a2.38 2.38 0 0 1-1.68266.69734z"
                                    clip-rule="evenodd" data-original="#000000"></path>
                            </svg>
                        </li>
                        <li class="text-gray-500 text-sm cursor-pointer">
                            <a href="#">Coupons</a>
                        </li>
                    </ul>
                </div>

                <main class=" mx-auto pt-8">
                    <h1 class="p-10 text-3xl font-medium font-[sans-serif]">Available Coupons</h1>
                    <div class="p-10 grid grid-cols-3 gap-4 justify-center">
                        <%if(coupons && coupons.length>0){%>
                            <%coupons.forEach(coupon=> {%>
                                <div
                                    class="bg-white p-6 flex flex-col gap-4 rounded-xl shadow-lg w-72 mx-auto border border-gray-200">
                                    <h1 class="text-2xl font-semibold text-gray-800">Coupon Details</h1>
                                    <div class="space-y-3">
                                        <div class="flex justify-between items-center">
                                            <span class="text-sm text-gray-500">Coupon Code:</span>
                                            <span class="text-lg font-medium text-indigo-600">
                                                <%=coupon.couponCode%>
                                            </span>
                                        </div>
                                        <div class="flex justify-between items-center">
                                            <span class="text-sm text-gray-500">Coupon Value:</span>
                                            <span class="text-lg font-medium text-green-600">
                                                <%=coupon.couponValue%>
                                            </span>
                                        </div>
                                        <div class="flex justify-between items-center">
                                            <span class="text-sm text-gray-500">Coupon Type:</span>
                                            <span class="text-lg font-medium text-gray-700">
                                                <%=coupon.couponType%>
                                            </span>
                                        </div>
                                        <div class="flex justify-between items-center">
                                            <span class="text-sm text-gray-500">Minimum Amount:</span>
                                            <span class="text-lg font-medium text-gray-800">
                                                <%=coupon.minAmount%>
                                            </span>
                                        </div>
                                        <div class="flex justify-between items-center">
                                            <%let date=coupon.expiry.toLocaleDateString()%>
                                                <%let now=new Date().toLocaleDateString()%>
                                                    <%let isValid=date<now%>
                                                        <span class="text-sm text-gray-500">Expire At:</span>
                                                        <span class="text-lg font-medium text-red-600">
                                                            <%=isValid?date:'expired'%>
                                                        </span>
                                        </div>
                                        <div class="flex justify-between items-center">
                                            <span class="text-sm text-gray-500">Total Use:</span>
                                            <span class="text-lg font-medium text-gray-800">
                                                <%=coupon.count%>
                                            </span>
                                        </div>
                                        <!-- <div class="flex justify-between items-center">
                                            <span class="text-sm text-gray-500">Use Left:</span>
                                            <span class="text-lg font-medium text-gray-800">
                                                <%#if(userDetails.usedCoupons.length>0){%>
                                                    <%#userDetails.usedCoupons.forEach(used=> {%>
                                                        <%#let useCoupon = used%>
                                                            <%#})%>
                                                                <%#}%>
                                            </span>
                                        </div> -->
                                    </div>
                                </div>

                                <%});%>
                                    <%}%>
                    </div>
                </main>
            </div>
    </div>

</body>

</html>