<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <div class="relative">

        <!-- Header -->
        <%- include('../partials/userHeader') %>

            <div class="absolute top-[100px] w-full h-screen">

                <div class="p-4">
                    <!-- BreadCrumbs -->
                    <%#- include('../partials/breadcrumbs') %>
                </div>

                <main>
                    <%let price=0; let discount=0; %>

                        <div class="mx-8 p-4 max-md:max-w-xl">
                            <h1 class="text-2xl font-bold text-gray-800">Your Cart</h1>
                            <div class="mt-8 grid gap-4 md:grid-cols-3">
                                <%if(cart && cart.items.length>0){%>
                                    <%cart.items.forEach(item=> {%>
                                        <div class="space-y-4 md:col-span-2">
                                            <div
                                                class="flex gap-4 rounded-md bg-white px-4 py-6 shadow-[0_2px_12px_-3px_rgba(6,81,237,0.3)]">
                                                <div class="flex gap-4">
                                                    <div class="h-28 w-28 shrink-0 max-sm:h-24 max-sm:w-24">
                                                        <img src="<%=item.product.images[0]%>"
                                                            class="h-full w-full object-contain" />
                                                    </div>

                                                    <div class="flex flex-col gap-4">
                                                        <div class="flex gap-2 flex-col">
                                                            <h3 class="text-lg font-medium text-gray-800 truncate w-96">
                                                                <a href="/user/viewProduct?productId=<%=item.product._id%>"
                                                                    class="hover:underline">
                                                                    <%=item.product.productName%>
                                                                </a>
                                                            </h3>
                                                            <h3 class="text-base font-medium text-gray-600">
                                                                Brand: <%=item.product.brand%>
                                                            </h3>
                                                            <p
                                                                class="mt-2 flex items-center gap-2 text-sm font-medium text-gray-500">
                                                                <%if(item.selectedColor){%>
                                                                    Color: <span class="inline-block h-5 w-5 rounded-md"
                                                                        style="background-color: <%=item.selectedColor%>;"></span>
                                                                    <%} else {%>
                                                                        Color: <span
                                                                            class="inline-block h-5 w-5 rounded-md"
                                                                            style="background-color: <%=item.product.colors[0]%>;"></span>
                                                                        <%}%>
                                                            </p>
                                                        </div>

                                                        <div class="mt-auto flex items-center gap-3">
                                                            <button type="button"
                                                                onclick="decreaseQuantity('<%= JSON.stringify(item._id)%>')"
                                                                class="flex h-5 w-5 items-center justify-center rounded-full bg-gray-400 outline-none <%= item.quantity === 1 ? 'hidden' : '' %>">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    class="w-2 fill-white" viewBox="0 0 124 124">
                                                                    <path
                                                                        d="M112 50H12C5.4 50 0 55.4 0 62s5.4 12 12 12h100c6.6 0 12-5.4 12-12s-5.4-12-12-12z"
                                                                        data-original="#000000"></path>
                                                                </svg>
                                                            </button>
                                                            <span id="quantity_<%=item._id%>"
                                                                class="text-sm font-bold leading-[18px] <%item.product.stock === 0 ? 'text-red-500': 'text-black'%>">
                                                                <%=item.product.stock===0 ? 'Out Of Stock' :
                                                                    item.quantity%>
                                                            </span>
                                                            <button type="button"
                                                                onclick="increaseQuantity('<%= JSON.stringify(item._id)%>')"
                                                                class="flex h-5 w-5 items-center justify-center rounded-full bg-gray-400 outline-none <%= item.quantity === 5 || item.product.stock === 0? 'hidden' : '' %>">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    class="w-2 fill-white" viewBox="0 0 42 42">
                                                                    <path
                                                                        d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z"
                                                                        data-original="#000000"></path>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ml-auto flex flex-col">
                                                    <div class="flex items-start justify-end gap-4">
                                                        <button type="button">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                class="inline-block w-4 cursor-pointer fill-gray-400"
                                                                viewBox="0 0 64 64">
                                                                <path
                                                                    d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"
                                                                    data-original="#000000"></path>
                                                            </svg>
                                                        </button>

                                                        <button type="button"
                                                            onclick="removeItem('<%= JSON.stringify(item._id)%>')">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                class="inline-block w-4 cursor-pointer fill-gray-400"
                                                                viewBox="0 0 24 24">
                                                                <path
                                                                    d="M19 7a1 1 0 0 0-1 1v11.191A1.92 1.92 0 0 1 15.99 21H8.01A1.92 1.92 0 0 1 6 19.191V8a1 1 0 0 0-2 0v11.191A3.918 3.918 0 0 0 8.01 23h7.98A3.918 3.918 0 0 0 20 19.191V8a1 1 0 0 0-1-1Zm1-3h-4V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2H4a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM10 4V3h4v1Z"
                                                                    data-original="#000000"></path>
                                                                <path
                                                                    d="M11 17v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Zm4 0v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z"
                                                                    data-original="#000000"></path>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <div class="flex mt-auto gap-4 items-center">

                                                        <h4 class="text-md text-grey-600 font-normal">₹
                                                            <strike>
                                                                <%= item.product.productPrice * item.quantity %>
                                                            </strike>
                                                        </h4>
                                                        <h3 class="text-lg font-medium text-black-800">₹ <%=
                                                                (Math.round(item.product.productPrice * (1 -
                                                                (parseFloat(item.product.discount) / 100)))) *
                                                                item.quantity %>/-
                                                        </h3>
                                                        <h2 class="text-2xl font-medium text-red-500">
                                                            <%=item.product.discount%>%off
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <%if(item.product.stock>0){%>
                                            <%price+=(item.product.productPrice) * item.quantity%>
                                                <%discount+=(Math.round(item.product.productPrice * (1 -
                                                    (parseFloat(item.product.discount) / 100)))) * item.quantity%>
                                                    <%}%>

                                                        <% })%>
                                                            <%#let total=price-discount;%>
                                                                <div
                                                                    class="h-max rounded-md bg-white px-4 py-6 shadow-[0_2px_12px_-3px_rgba(6,81,237,0.3)]">
                                                                    <ul class="space-y-4 text-gray-800">
                                                                        <li class="flex flex-wrap gap-4 text-md">Price (
                                                                            <%=cart.items.length%> items)<span
                                                                                    class="ml-auto font-[sans-serif]">₹
                                                                                    <%=price%>
                                                                                </span>
                                                                        </li>
                                                                        <li class="flex flex-wrap gap-4 text-md">
                                                                            Discount
                                                                            <span
                                                                                class="ml-auto font-[sans-serif] text-red-400">-₹
                                                                                <%= price-discount%>
                                                                            </span>
                                                                        </li>
                                                                        <li class="flex flex-wrap gap-4 text-md">
                                                                            Delivery
                                                                            Charges
                                                                            <span
                                                                                class="ml-auto font-[sans-serif]"><strike
                                                                                    class="mr-2">₹40</strike>Free</span>
                                                                        </li>
                                                                        </li>
                                                                        <hr class="border-gray-300" />
                                                                        <li class="flex flex-wrap gap-4 text-lg">Total
                                                                            <span class="ml-auto font-[sans-serif]">₹
                                                                                <%= price - (price-discount)%>
                                                                            </span>
                                                                        </li>
                                                                    </ul>

                                                                    <div class="mt-8 space-y-2">
                                                                        <button type="button"
                                                                            class="w-full rounded-md bg-gray-800 px-4 py-2.5 text-sm font-semibold tracking-wide text-white hover:bg-gray-900">Buy
                                                                            Now</button>
                                                                        <button type="button" onclick=""
                                                                            class="w-full rounded-md border border-gray-300 bg-transparent px-4 py-2.5 text-sm font-semibold tracking-wide text-gray-800 hover:bg-gray-100">Continue
                                                                            Shopping</button>
                                                                    </div>


                                                                </div>
                                                                <%} else {%>
                                                                    <div>
                                                                        No items are added
                                                                    </div>
                                                                    <%}%>
                            </div>
                        </div>
                </main>
            </div>
    </div>

    <script src="/javascript/user/userCart.js"></script>
</body>

</html>