<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Category</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/uploads/favicon-32x32.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    .custom-table {
        opacity: 0.8;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.92));
        border-radius: 12px;
        background-color: #fff;
    }

    .btn {
        background: #ff6d2fed;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        color: white;
    }
</style>

<body style="font-family: 'Poppins', system-ui;" class="h-screen overflow-hidden">

    <div class="flex h-screen">
        <%- include('../partials/adminSideMenu')%>

            <header class="fixed border-b w-full bg-white top-0 left-[250px] z-50 p-5">
                <ul class="flex items-center justify-start font-[sans-serif] space-x-4 mt-4">
                    <li class="text-gray-500 text-base cursor-pointer">
                        <a href="/admin/dashboard">Dashboard</a>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" class="fill-gray-400 w-3.5 -rotate-90"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M11.99997 18.1669a2.38 2.38 0 0 1-1.68266-.69733l-9.52-9.52a2.38 2.38 0 1 1 3.36532-3.36532l7.83734 7.83734 7.83734-7.83734a2.38 2.38 0 1 1 3.36532 3.36532l-9.52 9.52a2.38 2.38 0 0 1-1.68266.69734z"
                                clip-rule="evenodd" data-original="#000000"></path>
                        </svg>
                    </li>
                    <li class="text-black-500 text-xl font-bold cursor-pointer">
                        <a href="#">Category List</a>
                    </li>
                </ul>
            </header>

            <main class=" relative">
                <div class="flex absolute left-[300px] top-[80px] mt-10">
                    <table class="custom-table bg-white">
                        <thead class="bg-[#BABABA] bg-opacity-25 whitespace-nowrap">
                            <tr class="bg-[#495057] ">
                                <th class="p-4 text-left text-sm font-bold text-white">
                                    SlNo.
                                </th>
                                <th class="p-4 text-left text-sm font-bold text-white">
                                    Category Name
                                </th>
                                <th class="p-4 text-left text-sm font-bold text-white">
                                    Brand Name
                                </th>
                                <th class="p-4 text-left text-sm font-bold text-white">
                                    Created At
                                </th>
                                <th class="p-4 text-left text-sm font-bold text-white">
                                    Actions
                                </th>
                                <th class="p-4 text-left text-sm font-bold text-white">
                                    Status
                                </th>
                            </tr>
                        </thead>

                        <!-- ejs------------------------------------------------------------------------------ -->
                        <tbody class="whitespace-nowrap">
                            <% if( categories.length> 0 ) { %>

                                <% categories.forEach( ( category, index )=> { %>
                                    <%= %>
                                        <tr class="even:bg-[#dee2e6] odd:bg-[#f8f9fa]">
                                            <td class="p-4 text-sm text-[#343a40]">
                                                <%= index + 1 %>.
                                            </td>
                                            <td class="p-4 text-sm text-[#343a40]">
                                                <%= category.title %>
                                            </td>
                                            <td class="p-4 text-sm text-[#343a40]">
                                                <ul>
                                                    <% category.brands.forEach(brand=> { %>
                                                        <li class="mb-2">
                                                            <%= brand %>
                                                        </li>
                                                        <% }); %>
                                                </ul>
                                            </td>
                                            <td class="p-4 text-sm text-[#343a40]">
                                                2024-09-15
                                            </td>

                                            <td class="p-4">
                                                <button type="button" class="mr-4" title="Edit"
                                                    onclick="openModal('<%= JSON.stringify(category) %>')">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        class="w-5 fill-[#17a2b8] hover:fill-blue-700"
                                                        viewBox="0 0 348.882 348.882">
                                                        <path
                                                            d="m333.988 11.758-.42-.383A43.363 43.363 0 0 0 304.258 0a43.579 43.579 0 0 0-32.104 14.153L116.803 184.231a14.993 14.993 0 0 0-3.154 5.37l-18.267 54.762c-2.112 6.331-1.052 13.333 2.835 18.729 3.918 5.438 10.23 8.685 16.886 8.685h.001c2.879 0 5.693-.592 8.362-1.76l52.89-23.138a14.985 14.985 0 0 0 5.063-3.626L336.771 73.176c16.166-17.697 14.919-45.247-2.783-61.418zM130.381 234.247l10.719-32.134.904-.99 20.316 18.556-.904.99-31.035 13.578zm184.24-181.304L182.553 197.53l-20.316-18.556L294.305 34.386c2.583-2.828 6.118-4.386 9.954-4.386 3.365 0 6.588 1.252 9.082 3.53l.419.383c5.484 5.009 5.87 13.546.861 19.03z"
                                                            data-original="#000000" />
                                                        <path
                                                            d="M303.85 138.388c-8.284 0-15 6.716-15 15v127.347c0 21.034-17.113 38.147-38.147 38.147H68.904c-21.035 0-38.147-17.113-38.147-38.147V100.413c0-21.034 17.113-38.147 38.147-38.147h131.587c8.284 0 15-6.716 15-15s-6.716-15-15-15H68.904C31.327 32.266.757 62.837.757 100.413v180.321c0 37.576 30.571 68.147 68.147 68.147h181.798c37.576 0 68.147-30.571 68.147-68.147V153.388c.001-8.284-6.715-15-14.999-15z"
                                                            data-original="#000000" />
                                                    </svg>
                                                </button>
                                                <button type="button" class="mr-4" title="Delete"
                                                    onclick="deleteCategory('<%= category._id %>')" id="openModal">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        class="w-5 fill-[#e4606d] hover:fill-[#dc3545]"
                                                        viewBox="0 0 24 24">
                                                        <path
                                                            d="M19 7a1 1 0 0 0-1 1v11.191A1.92 1.92 0 0 1 15.99 21H8.01A1.92 1.92 0 0 1 6 19.191V8a1 1 0 0 0-2 0v11.191A3.918 3.918 0 0 0 8.01 23h7.98A3.918 3.918 0 0 0 20 19.191V8a1 1 0 0 0-1-1Zm1-3h-4V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2H4a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM10 4V3h4v1Z"
                                                            data-original="#000000" />
                                                        <path
                                                            d="M11 17v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Zm4 0v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z"
                                                            data-original="#000000" />
                                                    </svg>
                                                </button>
                                            </td>
                                            <td class="p-4 text-sm text-black">
                                                <select name="categoryStatus" id="categoryStatus"
                                                    class="bg-[#5cb85c] p-1.5 rounded-full"
                                                    onchange="toggleCategoryStatus(this, '<%= category._id %>')">
                                                    <option value="active" <%=category.isActive===true ? 'selected' : ''
                                                        %>>Active</option>
                                                    <option value="inactive" <%=category.isActive===false ? 'selected'
                                                        : '' %>>Inactive</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <% } ); %>

                                            <% } else { %>
                                                <tr class="">
                                                    <td colspan="6" class="w-full p-4 text-center">No categories
                                                        were
                                                        added.</td>

                                                </tr>
                                                <% } %>

                        </tbody>
                    </table>

                    <!-- Create Category ----------------------------------------------------------------------------- -->

                    <div class="ml-6 mt-10">
                        <form>
                            <div class="mb-3 flex justify-center">
                                <input type="text" placeholder="Category Name" class="border-2 border-slate-300 rounded-md ps-2 py-1.5
                                        w-80 placeholder:text-sm placeholder:ps-1. focus:outline-blue-500" name="title"
                                    id="title">
                            </div>

                            <div class="mb-3 flex justify-center">
                                <input type="text" placeholder="Brand Name" class="border-2 border-slate-300 rounded-md ps-2 py-1.5
                                        w-80 placeholder:text-sm placeholder:ps-1. focus:outline-blue-500" name="brand"
                                    id="brand">
                            </div>

                            <div class="w-full flex justify-center">
                                <button type="button"
                                    class="w-32 rounded-lg py-2 bg-orange-500 hover:bg-orange-600  text-white"
                                    onclick="createCategory()">Create</button>
                            </div>
                        </form>
                    </div>
                </div>


            </main>
    </div>

    <!--Category Update Modal------------------------------------------------------- -->

    <div class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000]
            before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)] overflow-auto
            font-[sans-serif] hidden" id="modal">
        <div class="w-full max-w-lg bg-white shadow-lg rounded-lg p-8 relative">
            <button type="button" onclick="closeModal()"
                class="w-3.5 cursor-pointer shrink-0 fill-gray-400 hover:fill-red-500 float-right">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320.591 320.591">
                    <path
                        d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                        data-original="#000000"></path>
                    <path
                        d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                        data-original="#000000"></path>
                </svg>
            </button>

            <div class="my-8 text-center">
                <h4 class="text-3xl text-gray-800 font-extrabold">Edit Category</h4>
            </div>

            <form class="space-y-4">

                <div class="flex flex-col items-start" id="titleContainer">
                    <label class="text-sm mb-2 text-gray-500" for="editTitle">Category Name</label>
                    <input type="text" placeholder=""
                        class="px-4 py-3 bg-white text-gray-800 w-full text-sm border border-gray-300 focus:border-blue-600 outline-none rounded-lg"
                        id="editTitle" />
                    <input type="hidden" id="categoryId">
                </div>

                <div class="">
                    <label class="text-sm mb-2 block text-gray-500" for="editBrands">Brand Names</label>
                    <div class="grid col-span-full" id="brandContainer">
                        <!-- displays the brands -->
                    </div>
                </div>

                <div class="!mt-8 space-y-4">
                    <button type="button"
                        class="px-5 py-2.5 w-full bg-orange-600 hover:bg-orange-700 text-white text-sm rounded-lg tracking-wide"
                        onclick="updateCategory()">
                        Update Category</button>
                </div>

            </form>

        </div>
    </div>

    <script src="/javascript/admin/adminCategory.js"></script>

    <script>



    </script>

</body>

</html>