<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin: Order List</title>
    <link rel="shortcut icon" href="/uploads/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <div class="flex">
        <%- include('../partials/adminSideMenu')%>
            <div class="flex-1">

                <header
                    class="fixed top-0 left-[250px] right-0 h-[80px] border-b w-full flex items-center pl-6 bg-white">
                    <ul class="flex items-center gap-x-2">
                        <li class="text-gray-500 text-base cursor-pointer">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="fill-gray-400 w-3 -rotate-90"
                                viewBox="0 0 24 24">
                                <path fill-rule="evenodd"
                                    d="M11.99997 18.1669a2.38 2.38 0 0 1-1.68266-.69733l-9.52-9.52a2.38 2.38 0 1 1 3.36532-3.36532l7.83734 7.83734 7.83734-7.83734a2.38 2.38 0 1 1 3.36532 3.36532l-9.52 9.52a2.38 2.38 0 0 1-1.68266.69734z"
                                    clip-rule="evenodd" data-original="#000000"></path>
                            </svg>
                        </li>
                        <li class="text-black text-xl font-bold cursor-pointer">
                            <a href="#">Orders List</a>
                        </li>
                    </ul>
                </header>

                <main class="pl-[270px] pr-[20px] pt-[120px]">
                    <div class="w-[400px] flex mb-6">
                        <button class="rounded-l-lg bg-orange-500 hover:bg-orange-600 px-4 text-white"
                            onclick="searchOrders()">Search</button>
                        <input type="text" id="search" class="w-full p-3 rounded-r-lg bg-gray-100 outline-none"
                            placeholder="Enter Order ID">
                    </div>
                    <div class="">
                        <table class="w-full bg-white p-6">
                            <thead class="bg-gray-100 whitespace-wrap">
                                <tr class="">
                                    <th class="text-center p-4 font-semibold text-gray-800">OrderID</th>
                                    <th class="text-center p-4 font-semibold text-gray-800">User Email</th>
                                    <th class="text-center p-4 font-semibold text-gray-800">OrderDate</th>
                                    <th class="text-center p-4 font-semibold text-gray-800">Order Status</th>
                                    <th class="text-center p-4 font-semibold text-gray-800">Payment Method</th>
                                    <th class="text-center p-4 font-semibold text-gray-800">Payment Status</th>
                                    <th class="text-center p-4 font-semibold text-gray-800">Total Amount</th>
                                    <th class="text-center p-4 font-semibold text-gray-800">Return Status</th>
                                    <th class="text-center p-4 font-semibold text-gray-800"></th>
                                </tr>
                            </thead>
                            <tbody class="whitespace-nowrap">
                                <%if(orders && orders.length>0){%>
                                    <%orders.forEach(order=> {%>
                                        <%let totalPay=0;%>
                                            <% order.orderedProducts.forEach( pay=> totalPay+=pay.totalPay)%>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="p-4 text-[15px] text-center text-gray-800">
                                                        <%= order._id%>
                                                    </td>
                                                    <td class="p-4 text-[15px] text-center text-gray-800">
                                                        <%= order.user.email%>
                                                    </td>
                                                    <td class="p-4 text-[15px] text-center text-gray-800">
                                                        <%= order.createdAt.toLocaleString()%>
                                                    </td>
                                                    <td class="p-4 text-[15px] text-center text-gray-800">
                                                        <%= order.allOrdersStatus%>
                                                    </td>
                                                    <td class="p-4 text-[15px] text-center text-gray-800">
                                                        <%= order.paymentMethod%>
                                                    </td>
                                                    <td class="p-4 text-[15px] text-center text-gray-800">
                                                        <%= order.paymentStatus%>
                                                    </td>
                                                    <td class="p-4 text-[15px] text-center text-gray-800">
                                                        ₹ <%= totalPay%>
                                                    </td>

                                                    <td class="p-4 text-[15px] text-center text-gray-800">
                                                        <% let returnedProducts=order.orderedProducts.find(item=>
                                                            item.returnStatus)%>
                                                            <%= returnedProducts? `${returnedProducts.returnStatus
                                                                }(${order.orderedProducts.filter(item=>
                                                                item.returnStatus).length})`: '' %>
                                                    </td>

                                                    <td class="p-4 text-[15px] text-center text-gray-800"><a
                                                            href="/admin/order/view?orderId=<%= order._id%>"
                                                            class="hover:underline text-blue-600">view</a></td>
                                                </tr>
                                                <%})%>
                                                    <%} else {%>
                                                        <tr>
                                                            <td colspan="8"
                                                                class="p-4 text-[15px] text-center text-gray-800">No
                                                                orders were made.</td>
                                                        </tr>
                                                        <%}%>
                            </tbody>
                        </table>
                        <div class="w-full flex justify-between gap-4 items-center">
                            <div class="font-[poppins] text-sm text-gray-600">
                                You&apos;re currently viewing page <%=currentPage%> of <%=totalPages%>
                            </div>
                            <div class="flex gap-2 my-4">
                                <%if(currentPage>1){%>
                                    <a href="/admin/orders?page=<%= currentPage - 1%>%limit=<%=limit%>"
                                        class="block w-[100px] text-center py-2 rounded-md hover:bg-gray-200 bg-gray-100">previous</a>
                                    <%}%>
                                        <%if(currentPage<totalPages){%>
                                            <a href="/admin/orders?page=<%= currentPage + 1%>%limit=<%=limit%>"
                                                class="block w-[100px] text-center py-2 rounded-md hover:bg-gray-200  bg-gray-100">next</a>
                                            <%}%>
                            </div>
                        </div>
                    </div>

                    <div id="limit" data-limit="<%=JSON.stringify(limit)%>"></div>
                    <div id="currentPage" data-page="<%=JSON.stringify(currentPage)%>"></div>
                </main>
            </div>
    </div>

    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            timer: 2000,
            timerProgressBar: true,
            showConfirmButton: false,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        function searchOrders() {
            const searchTerm = document.getElementById('search').value;
            const limit = JSON.parse(document.getElementById('limit').getAttribute('data-limit'));
            const currentPage = JSON.parse(document.getElementById('currentPage').getAttribute('data-currentPage'));

            const url = `/admin/orders?page=${currentPage}&limit=${limit}&search=${encodeURIComponent(searchTerm)}`;

            if (searchTerm && !/^[0-9a-fA-F]{24}$/.test(searchTerm)) {
                return Toast.fire({ icon: 'warning', title: 'Invalid search input.' })
            }

            window.location.href = url;
        }
    </script>

</body>

</html>